.overlay {
  position: absolute;
  z-index: 1;
  max-width: 268px;
}
.image {
  position: absolute;
  z-index: 0;
  width: 268px;
}
.nick {
  position: absolute;
  z-index: 2;
  /* padding-top: 430px; */
  padding-top: calc(41vh);
}
.title {
  position: absolute;
  z-index: 2;
  padding-top: calc(44.5vh);
}
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .overlay {
    position: absolute;
    z-index: 1;
    max-width: 268px;
  }
  .image {
    position: absolute;
    z-index: 0;
    width: 268px;
  }
  .nick {
    position: absolute;
    z-index: 2;
    /* padding-top: 430px; */
    padding-top: calc(41vh);
  }
  .title {
    position: absolute;
    z-index: 2;
    padding-top: calc(44.5vh);
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
