.Slider {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.AgentSlide {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  overflow-y: hidden;
  grid-template-areas:
    ". . ."
    ". image ."
    ". image .";
  color: white;
}
.AgentSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  position: absolute;
  z-index: 2;
  grid-area: title;
  padding-bottom: 8vh;
  font-size: 10rem;
  font-family: "VALORANT", sans-serif;
}
.image {
  z-index: 1;
  position: relative;
  grid-area: image;
  transition: all 0.2s ease-in-out;
}
.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .AgentSlide img {
    display: block;
    width: 98vw !important;
    height: 90vh !important;
    object-fit: cover;
    /* position: relative; */
  }
  .title {
    /* position: absolute; */
    font-size: 3rem;
    padding-top: 60vh;
    padding-bottom: 0;
    /* display: none; */
  }
  .AgentSlide {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    color: white;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .AgentSlide img {
    display: block;
    width: 80vw;
    height: auto;
    object-fit: cover;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .AgentSlide img {
    display: block;
    width: 98vw !important;
    height: 90vh !important;
    object-fit: cover;
  }
  .title {
    font-size: calc(1.575rem + 12vw);
    /* padding-top: 60vh; */
    padding-bottom: calc(22vw + 2rem);
  }
  .AgentSlide {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-end;
    color: white;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .AgentSlide img {
    display: block;
    width: 90vw;
    height: auto;
    object-fit: cover;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .AgentSlide img {
    display: block;
    width: auto;
    height: 90vh;
    object-fit: cover;
  }
  .AgentSlide {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-end;
    color: white;
  }
  .title {
    padding-bottom: 14vh;
  }
}
.AgentBar {
}
