/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .hero {
    background: rgb(223, 71, 74);
    background: linear-gradient(
      0deg,
      rgba(223, 71, 74, 1) 0%,
      rgba(235, 77, 81, 1) 60%,
      rgba(255, 71, 85, 1) 100%
    );
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    position: relative;
    display: block;
  }
  .heroText {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(50vh);
  }
  .heroImage {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh);
  }
  .heroInput {
    z-index: 3;
    position: relative;
    width: calc(50vh);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero {
    background: rgb(223, 71, 74);
    background: linear-gradient(
      0deg,
      rgba(223, 71, 74, 1) 0%,
      rgba(235, 77, 81, 1) 60%,
      rgba(255, 71, 85, 1) 100%
    );
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    position: relative;
    display: block;
  }
  .heroText {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(50vh);
  }
  .heroImage {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh);
  }
  .heroInput {
    z-index: 3;
    position: relative;
    width: calc(50vh);
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero {
    background: rgb(223, 71, 74);
    background: linear-gradient(
      0deg,
      rgba(223, 71, 74, 1) 0%,
      rgba(235, 77, 81, 1) 60%,
      rgba(255, 71, 85, 1) 100%
    );
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    position: relative;
    display: block;
  }
  .heroText {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(60vh);
  }
  .heroImage {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh);
  }
  .heroInput {
    z-index: 3;
    position: relative;
    width: calc(50vh);
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero {
    background: rgb(223, 71, 74);
    background: linear-gradient(
      0deg,
      rgba(223, 71, 74, 1) 0%,
      rgba(235, 77, 81, 1) 60%,
      rgba(255, 71, 85, 1) 100%
    );
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    position: relative;
    display: block;
  }
  .heroText {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(50vh);
  }
  .heroImage {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh);
  }
  .heroInput {
    z-index: 3;
    position: relative;
    width: calc(50vh);
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero {
    background: rgb(223, 71, 74);
    background: linear-gradient(
      0deg,
      rgba(223, 71, 74, 1) 0%,
      rgba(235, 77, 81, 1) 60%,
      rgba(255, 71, 85, 1) 100%
    );
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    position: relative;
    display: inline-block;
  }
  .heroText {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heroImage {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh);
  }
  .heroInput {
    z-index: 3;
    position: relative;
    width: calc(50vh);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
