.Navbar a {
  color: #fff !important;
  font-weight: bold;
  font-size: large;
}
.Navbar {
  background-color: transparent;
}
.Navbar a:active {
  border-bottom: 1px solid #fff !important;
}
.Navbar a:hover {
  border-bottom: 1px solid #fff !important;
}
@import url("http://fonts.cdnfonts.com/css/d-din");
.Navbar {
  font-family: "D-DIN", sans-serif;
  font-family: "D-DIN Condensed", sans-serif;
  font-family: "D-DIN Exp", sans-serif;
}
