.Navbar a {
  color: #fff !important;
  font-weight: bold;
  font-size: large;
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
.Navbar {
  background-color: transparent;
}
.Navbar a:active {
  border-bottom: 1px solid #fff !important;
}
.Navbar a:hover {
  border-bottom: 1px solid #fff !important;
}
@media (max-width: 575.98px) {
}
#backg {
  background-color: black !important;
}
