.bannerImageTop {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  animation: topImage 1.5s forwards ease-in-out;
  transition: 1.2s ease;
}
.bannerImageTop:hover {
  transform: scale(1.1);
}
.text:hover {
  margin-left: 20px;
}
.bannerImageDown {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: animate 3s forwards ease;
}

@keyframes animate {
  from {
    clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes topImage {
  from {
    clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
    transform: translate(-100px, 0);
  }
  to {
    clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
  }
}
